.previousOrders {
    width: 100%;
    display: flex;
}

.previousOrdersContainer {
    flex: 6;
}

/* .order-top, */
.order-bottom {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px #CA7D23;
    padding: 10px;
    margin: 20px;
    display: flex;
}

/* .order-title {
    color: #CA7D23;
    font-size: 20px;
} */

.order {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px #CA7D23;
    padding: 10px;
    margin: 20px;
    display: flex;
    /* display: inline-block;
    width: 97%; */
}

.row1 {
    display: inline;
    flex: 1;
}

.order-title {
    font-size: 24px;
    font-weight: bold;
    color: rgb(184, 20, 20);
    border-bottom: 6px solid rgb(17, 91, 160);
    border-spacing: 0;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
}

.order-date {
    font-size: 24px;
    font-weight: bold;
    color: #CA7D23;
    margin-left: 10px;
    margin-bottom: 10px;
}

.order-sub-service {
    font-size: 16px;
    font-weight: bold;
    /* border-bottom: solid 1px black; */
    color: black;
    margin-left: 10px;
    margin-bottom: 10px;
}

.payment {
    font-size: 24px;
    font-weight: bold;
    color: #CA7D23;
    margin-left: 10px;
    margin-right: 0px;
    margin-bottom: 10px;
    align-items: center;
    text-align: center;
}

.order-id {
    font-size: 16px;
    font-weight: bold;
    color: black;
    margin-left: 10px;
    margin-bottom: 10px;
}

.address {
    font-size: 16px;
    font-weight: bold;
    color: black;
    margin-left: 10px;
    margin-bottom: 10px;
}