.stars {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

input[type="radio"] {
    display: none;
}

.star {
    cursor: pointer;
    transition: color 200ms;
}

.star:on-hover {
    
}

.averageRating {
    margin-left: 20px;
    font-size: 1.5rem;
}